workflow/email-classifier.json
{
  "name": "email-classifier",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "inbound-email",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "a1111111-1111-1111-1111-111111111111",
      "name": "Email Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        400
      ],
      "webhookId": "inbound-email-webhook",
      "notes": "CONFIGURE: Set the webhook 'path' (currently 'inbound-email') to your environment-specific path. Expected JSON body: { senderName, senderEmail, subject, body }"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "groqApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama3-8b-8192\",\n  \"temperature\": 0,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an email classification assistant. Read the email subject and body and classify it into exactly one of these four categories: enquiry, complaint, booking_request, other. Return ONLY a JSON object in this exact format: {\\\"category\\\": \\\"enquiry\\\", \\\"summary\\\": \\\"one sentence summary of the email\\\"}. The category value MUST be one of: enquiry, complaint, booking_request, other. Do not include any extra text.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Subject: {{ $json.body.subject }}\\n\\nBody: {{ $json.body.body }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "b2222222-2222-2222-2222-222222222222",
      "name": "Classify with Groq",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        400
      ],
      "credentials": {
        "groqApi": {
          "id": "GROQ_CREDENTIAL_ID",
          "name": "Groq API"
        }
      },
      "notes": "Calls Groq API (llama3-8b-8192). Uses n8n Groq API credential placeholder. Returns JSON {category, summary}."
    },
    {
      "parameters": {
        "jsCode": "// Parse the Groq response and extract category + summary\nconst groqItem = $input.first().json;\n\n// Get raw model output\nlet content = groqItem.choices?.[0]?.message?.content || '{}';\n\n// Clean potential code fences\ncontent = content.trim().replace(/^```json/i, '').replace(/^```/, '').replace(/```$/, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(content);\n} catch (e) {\n  parsed = { category: 'other', summary: 'Could not parse classification response.' };\n}\n\n// Normalize category\nconst validCategories = ['enquiry', 'complaint', 'booking_request', 'other'];\nlet category = (parsed.category || 'other').toString().toLowerCase().trim();\nif (!validCategories.includes(category)) {\n  category = 'other';\n}\n\nconst summary = (parsed.summary || 'No summary provided.').toString();\n\n// Pull original email data from the webhook node\nconst webhook = $('Email Webhook').first().json.body || {};\n\nreturn [\n  {\n    json: {\n      timestamp: new Date().toISOString(),\n      senderName: webhook.senderName || '',\n      senderEmail: webhook.senderEmail || '',\n      subject: webhook.subject || '',\n      summary: summary,\n      category: category\n    }\n  }\n];"
      },
      "id": "c3333333-3333-3333-3333-333333333333",
      "name": "Parse Classification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        400
      ],
      "notes": "Parses Groq JSON output, normalizes category, merges with original email data."
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "enquiry",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "enquiry"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "complaint",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "complaint"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "booking_request",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "booking_request"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "other",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "other"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "d4444444-4444-4444-4444-444444444444",
      "name": "Route by Category",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        960,
        400
      ],
      "notes": "Routes items into 4 branches based on category. Fallback output goes to 'Other' handling."
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Enquiries",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.timestamp }}",
            "Sender Name": "={{ $json.senderName }}",
            "Sender Email": "={{ $json.senderEmail }}",
            "Subject": "={{ $json.subject }}",
            "Summary": "={{ $json.summary }}",
            "Category": "={{ $json.category }}"
          }
        },
        "options": {}
      },
      "id": "e5555555-5555-5555-5555-555555555555",
      "name": "Sheets - Enquiries",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1240,
        100
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "notes": "CONFIGURE: Set 'documentId' to your Google Sheet ID. Sheet tab must be named 'Enquiries' with columns: Timestamp, Sender Name, Sender Email, Subject, Summary, Category"
    },
    {
      "parameters": {
        "chatId": "TELEGRAM_CHAT_ID",
        "text": "=📋 *New Enquiry*\n\n*From:* {{ $json.senderName }} ({{ $json.senderEmail }})\n*Subject:* {{ $json.subject }}\n*Summary:* {{ $json.summary }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "f6666666-6666-6666-6666-666666666666",
      "name": "Telegram - Enquiry",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1460,
        100
      ],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      },
      "notes": "CONFIGURE: Set 'chatId' to your Telegram Chat ID. Emoji for enquiry = 📋"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Complaints",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.timestamp }}",
            "Sender Name": "={{ $json.senderName }}",
            "Sender Email": "={{ $json.senderEmail }}",
            "Subject": "={{ $json.subject }}",
            "Summary": "={{ $json.summary }}",
            "Category": "={{ $json.category }}"
          }
        },
        "options": {}
      },
      "id": "07777777-7777-7777-7777-777777777777",
      "name": "Sheets - Complaints",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1240,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "notes": "CONFIGURE: Set 'documentId' to your Google Sheet ID. Sheet tab must be named 'Complaints' with columns: Timestamp, Sender Name, Sender Email, Subject, Summary, Category"
    },
    {
      "parameters": {
        "chatId": "TELEGRAM_CHAT_ID",
        "text": "=🚨 *New Complaint*\n\n*From:* {{ $json.senderName }} ({{ $json.senderEmail }})\n*Subject:* {{ $json.subject }}\n*Summary:* {{ $json.summary }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "18888888-8888-8888-8888-888888888888",
      "name": "Telegram - Complaint",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1460,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      },
      "notes": "CONFIGURE: Set 'chatId' to your Telegram Chat ID. Emoji for complaint = 🚨"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Booking Requests",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.timestamp }}",
            "Sender Name": "={{ $json.senderName }}",
            "Sender Email": "={{ $json.senderEmail }}",
            "Subject": "={{ $json.subject }}",
            "Summary": "={{ $json.summary }}",
            "Category": "={{ $json.category }}"
          }
        },
        "options": {}
      },
      "id": "29999999-9999-9999-9999-999999999999",
      "name": "Sheets - Booking Requests",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1240,
        500
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "notes": "CONFIGURE: Set 'documentId' to your Google Sheet ID. Sheet tab must be named 'Booking Requests' with columns: Timestamp, Sender Name, Sender Email, Subject, Summary, Category"
    },
    {
      "parameters": {
        "chatId": "TELEGRAM_CHAT_ID",
        "text": "=📅 *New Booking Request*\n\n*From:* {{ $json.senderName }} ({{ $json.senderEmail }})\n*Subject:* {{ $json.subject }}\n*Summary:* {{ $json.summary }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "3aaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
      "name": "Telegram - Booking Request",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1460,
        500
      ],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      },
      "notes": "CONFIGURE: Set 'chatId' to your Telegram Chat ID. Emoji for booking_request = 📅"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Other",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.timestamp }}",
            "Sender Name": "={{ $json.senderName }}",
            "Sender Email": "={{ $json.senderEmail }}",
            "Subject": "={{ $json.subject }}",
            "Summary": "={{ $json.summary }}",
            "Category": "={{ $json.category }}"
          }
        },
        "options": {}
      },
      "id": "4bbbbbbb-bbbb-bbbb-bbbb-bbbbbbbbbbbb",
      "name": "Sheets - Other",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1240,
        700
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "notes": "CONFIGURE: Set 'documentId' to your Google Sheet ID. Sheet tab must be named 'Other' with columns: Timestamp, Sender Name, Sender Email, Subject, Summary, Category"
    },
    {
      "parameters": {
        "chatId": "TELEGRAM_CHAT_ID",
        "text": "=📌 *New Email (Other)*\n\n*From:* {{ $json.senderName }} ({{ $json.senderEmail }})\n*Subject:* {{ $json.subject }}\n*Summary:* {{ $json.summary }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "5ccccccc-cccc-cccc-cccc-cccccccccccc",
      "name": "Telegram - Other",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1460,
        700
      ],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      },
      "notes": "CONFIGURE: Set 'chatId' to your Telegram Chat ID. Emoji for other = 📌"
    }
  ],
  "connections": {
    "Email Webhook": {
      "main": [
        [
          {
            "node": "Classify with Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify with Groq": {
      "main": [
        [
          {
            "node": "Parse Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Classification": {
      "main": [
        [
          {
            "node": "Route by Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Category": {
      "main": [
        [
          {
            "node": "Sheets - Enquiries",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sheets - Complaints",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sheets - Booking Requests",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sheets - Other",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sheets - Other",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets - Enquiries": {
      "main": [
        [
          {
            "node": "Telegram - Enquiry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets - Complaints": {
      "main": [
        [
          {
            "node": "Telegram - Complaint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets - Booking Requests": {
      "main": [
        [
          {
            "node": "Telegram - Booking Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets - Other": {
      "main": [
        [
          {
            "node": "Telegram - Other",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "active": false,
  "versionId": "00000000-0000-0000-0000-000000000001",
  "tags": []
}
